<div id="<%= dom_id grade %>">
  <p>
    <strong>Name:</strong>
    <%= grade.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= grade.description %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= grade.active %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= grade.order %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= grade.level %>
  </p>

</div>
