<div id="<%= dom_id question %>">
  <p>
    <strong>Content:</strong>
    <%= question.content %>
  </p>

  <p>
    <strong>Question type:</strong>
    <%= question.question_type_id %>
  </p>

  <p>
    <strong>Difficulty level:</strong>
    <%= question.difficulty_level %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= question.points %>
  </p>

  <p>
    <strong>Explanation:</strong>
    <%= question.explanation %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= question.active %>
  </p>

</div>
