<div id="<%= dom_id answer %>">
  <p>
    <strong>Question:</strong>
    <%= answer.question_id %>
  </p>

  <p>
    <strong>Exam:</strong>
    <%= answer.exam_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= answer.user_id %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= answer.answer %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= answer.points %>
  </p>

</div>
