<div id="<%= dom_id alternative %>">
  <p>
    <strong>Content:</strong>
    <%= alternative.content %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= alternative.question_id %>
  </p>

  <p>
    <strong>Correct:</strong>
    <%= alternative.correct %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= alternative.order %>
  </p>

</div>
