<div id="<%= dom_id exam %>">
  <p>
    <strong>Title:</strong>
    <%= exam.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= exam.description %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= exam.subject_id %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= exam.topic_id %>
  </p>

  <p>
    <strong>Duration in minutes:</strong>
    <%= exam.duration_in_minutes %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= exam.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= exam.end_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= exam.status %>
  </p>

  <p>
    <strong>Passing score:</strong>
    <%= exam.passing_score %>
  </p>

  <p>
    <strong>Shuffle questions:</strong>
    <%= exam.shuffle_questions %>
  </p>

</div>
